@import url(style.css);

#item-1-match {
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
}

.item-3 {
    background-color: white !important;
    color: black !important;
}

.card {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.vs-text {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}

.match-card ul {
    display: flex;
    margin-left: 14%;
}

.match-card ul li {
    list-style-type: none;
}


/* Tablet Styles */

@media only screen and (max-width: 768px) {
    #item-3 {
        border: 1px solid silver;
    }

    #container-card {
        display: grid;
        grid-template-columns: auto auto;
    }

    .match-card ul {
        margin-left: -15px;
    }
}

@media only screen and (max-width: 480px) {
    #container-card {
        display: grid;
        grid-template-columns: auto;
    }

    .match-card ul {
        margin-left: 45px
    }
}