body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    height: 700px;
    background-color: black;
    border-radius: 20px;
    display: flex;
}

.header-title,
.header-img {
    width: 50%;
}

.header-title {
    color: white;
    padding-left: 8%;
    padding-top: 4%;
}

.header-title h1 {
    font-size: 40px;
    margin-bottom: 0;
    width: 60%;
}

.header-title h4 {
    font-weight: 100;
    width: 80%;
}

.banner-image {
    width: 100%;
    height: 90%;
    margin-top: 70px;
    margin-left: -60px;
}

.header-button {
    background: red;
    padding: 15px 25px;
    border-radius: 5px;
    margin-top: 10px;
}

.header-button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.arrow {
    font-size: 17px;
    color: white;
    margin-left: 10px;
}

@keyframes btn-animation {
    from {
        background-color: red;
    }

    to {
        background-color: green;
        color: white;
    }
}

.header-button:hover {
    animation-name: btn-animation;
    animation-duration: 3s;
}

#blog {
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 20% 80%;

}

.blog-menu {
    height: 300px;
    background-color: black;
    border-radius: 20px;

}

.blog-menu ul {
    width: 80%;
    margin-top: 50px;
}

.blog-menu ul li {
    list-style-type: none;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.item-1,
.item-2 {
    background-color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
}

#item-3 {
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    padding-left: 2%;
}

.card {
    border: 1px solid rgba(192, 192, 192, 0.432);
    border-radius: 15px;
}

.blog-img {
    width: 100%;
}

.card button {
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 20px;
}

.card-text {
    padding: 10px 20px;
}

.card-header {
    font-weight: 700;
    font-size: 20px;
}

.bonus {
    display: none;
}

footer {
    background-color: #333;
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: 200px;
    padding-bottom: 100px;
}

.footer-text {
    padding-top: 40px;
}

footer p {
    color: white;
    font-size: 60px;
    font-weight: 700;
}

hr {
    color: gray;
    width: 80%;
}

footer ul {
    padding-top: 40px;
}

footer ul li {
    list-style-type: none;
    color: silver;
    display: inline;
    margin-right: 40px;
}

.social-icon {
    font-size: 50px;
    color: white;
}

/* Responsive CSS */

/* Tablet */

@media only screen and (max-width: 768px) {
    body {
        margin: 0 auto;
    }

    .header {
        width: 90%;
        display: flex;
    }

    .header-title,
    .header-img {
        width: 50%;
    }

    .header-title h1 {
        font-size: 3em;
    }

    .header-title h4 {
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-button {
        padding: 5px 5px;
    }

    .header-button a,
    .arrow {
        font-size: 10px;
    }

    .banner-image {
        width: 100%;

    }

    #blog {
        width: 90%;
        display: block;

    }

    .blog-menu {
        background-color: white;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .blog-menu ul {
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 0;
    }

    .blog-menu ul li {
        font-size: 15px;
        margin-bottom: 185px;
        margin-right: 10px;
    }

    .item-1,
    .item-2 {
        border: 1px solid silver;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: -120px;
    }

    .bonus {
        text-align: center;
        display: block;
    }

    .view-all {
        background-color: red;
        color: white;
        border: 0px;
        border-radius: 3px;
        font-size: 40px;
        margin-top: 30px;
        padding: 5px 10px;
    }

    footer {
        width: 100%;
    }

    .social-icon {
        font-size: 30px;
    }
}

/* Mobile */

@media only screen and (max-width: 480px) {

    .header {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .header-title {
        width: 100%;
        text-align: center;
    }

    .header h1 {
        margin-left: 61px;
        font-size: 30px;
    }

    .header h4 {
        margin-left: 20px;
    }

    .header-button {
        margin: 0 auto;
        margin-left: -20px;
    }

    .banner-image {
        margin: 0;
        margin-top: 21px;
        margin-left: 18px;
    }

    #blog {
        margin-top: 50px;
    }

    .item-2 {
        border: 1px solid silver;
    }

    .blog-menu ul {
        display: grid;
        grid-template-columns: auto;
        margin-left: -36px;
    }

    .blog-menu ul li {
        margin-bottom: 5px;
    }

    .container {
        display: grid;
        grid-template-columns: auto;
        margin-top: 100px;
    }

    .bonus {
        display: none;
    }

    footer {
        width: 100%;
        height: auto;
    }

    .footer-text ul li {
        display: block;
        margin-bottom: 20px;
    }
}