@import url(style.css);

#item-1-matches {
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
}

.item-3 {
    background-color: white !important;
    color: black !important;
}

.card {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.vs-text {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}

.play-card ul {
    display: flex;
    margin-left: 14%;
}

.play-card ul li {
    list-style-type: none;
}